/**
 *  Hoja de estilos específicos
 */
@import "animaciones.css";
@import "notificaciones.css";

/* -- CONTROL DE ANIMACIONES -- */
.animated.delay-5 { -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; -ms-animation-delay: 0.5s; -o-animation-delay: 0.5s; animation-delay: 0.5s; }
.animated.delay-10 { -webkit-animation-delay: 1s; -moz-animation-delay: 1s; -ms-animation-delay: 1s; -o-animation-delay: 1s; animation-delay: 1s; }
.animated.delay-15 { -webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; -ms-animation-delay: 1.5s; -o-animation-delay: 1.5s; animation-delay: 1.5s; }
.animated.delay-20 { -webkit-animation-delay: 2s; -moz-animation-delay: 2s; -ms-animation-delay: 2s; -o-animation-delay: 2s; animation-delay: 2s; }
.animated.delay-25 { -webkit-animation-delay: 2.5s; -moz-animation-delay: 2.5s; -ms-animation-delay: 2.5s; -o-animation-delay: 2.5s; animation-delay: 2.5s; }
.animated.delay-30 { -webkit-animation-delay: 3s; -moz-animation-delay: 3s; -ms-animation-delay: 3s; -o-animation-delay: 3s; animation-delay: 3s; }
.animated.delay-35 { -webkit-animation-delay: 3.5s; -moz-animation-delay: 3.5s; -ms-animation-delay: 3.5s; -o-animation-delay: 3.5s; animation-delay: 3.5s; }
.animated.delay-40 { -webkit-animation-delay: 4s; -moz-animation-delay: 4s; -ms-animation-delay: 4s; -o-animation-delay: 4s; animation-delay: 4s; }
.animated.delay-45 { -webkit-animation-delay: 4.5s; -moz-animation-delay: 4.5s; -ms-animation-delay: 4.5s; -o-animation-delay: 4.5s; animation-delay: 4.5s; }
.animated.delay-50 { -webkit-animation-delay: 5s; -moz-animation-delay: 5s; -ms-animation-delay: 5s; -o-animation-delay: 5s; animation-delay: 5s; }
.animated.delay-55 { -webkit-animation-delay: 5.5s; -moz-animation-delay: 5.5s; -ms-animation-delay: 5.5s; -o-animation-delay: 5.5s; animation-delay: 5.5s; }
.animated.delay-60 { -webkit-animation-delay: 6s; -moz-animation-delay: 6s; -ms-animation-delay: 6s; -o-animation-delay: 6s; animation-delay: 6s; }
.animated.delay-65 { -webkit-animation-delay: 6.5s; -moz-animation-delay: 6.5s; -ms-animation-delay: 6.5s; -o-animation-delay: 6.5s; animation-delay: 6.5s; }
.animated.delay-70 { -webkit-animation-delay: 7s; -moz-animation-delay: 7s; -ms-animation-delay: 7s; -o-animation-delay: 7s; animation-delay: 7s; }
.animated.delay-75 { -webkit-animation-delay: 7.5s; -moz-animation-delay: 7.5s; -ms-animation-delay: 7.5s; -o-animation-delay: 7.5s; animation-delay: 7.5s; }
.animated.medium { -webkit-animation-duration: 2s; -moz-animation-duration: 2s; -ms-animation-duration: 2s; -o-animation-duration: 2s; animation-duration: 2s; }
.animated.slow { -webkit-animation-duration: 3s; -moz-animation-duration: 3s; -ms-animation-duration: 3s; -o-animation-duration: 3s; animation-duration: 3s; }
.animated.slower { -webkit-animation-duration: 5s; -moz-animation-duration: 5s; -ms-animation-duration: 5s; -o-animation-duration: 5s; animation-duration: 5s; }
/* -- * -- * -- * -- * -- * -- * -- */

#divInformacionEmpleado {
	display: none;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.btnActivo {
	background: #989898;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 0 0 10px #505050;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.btnActivo.btnCorrecto {
	background: #17B739;
}

.btnActivo.btnPeligro {
	background: #EA0000;
}

.barraInferiorAcciones {
	text-align: center;
	display: block;
	width: 100%;
}

.barraSuperiorAcciones {
	float: right;
	position: relative;
	z-index: 2;
}

.barraSuperiorAcciones + h1, .barraSuperiorAcciones + h2 {
	height: 30px;
	line-height: 30px;
	z-index: 1;
}

.barraSuperiorAcciones + h3.dobleLinea {
	height: 30px;
	line-height: 17px;
}

.barraSuperiorAcciones + h3.dobleLinea > small {
	display: block;
	font-style: italic;
	text-transform: uppercase;
	font-size: 11px;
}

.barraSuperiorAcciones + h1 + hr {
	margin-bottom: 10px;
}

/* Cajas de alerta */
.box[class*="-box"] {
	width: 430px;
	padding: 15px 15px 15px 60px;
	box-sizing: border-box;
	margin: -10px auto 10px;
}

.txtCentrado {
	text-align: center;
}

/* Corregir alineación del breadcrumb */
#breadcrumb ul {
	padding-left: 15px;
}

/* Corregir altura del breadcrumb */
#breadcrumb > ul > .separador {
	line-height: 1;
}

#breadcrumb > ul > li[rel="cargarVista"] {
	cursor: pointer;
	color: #2071A2;
}

#topbar {
	padding: 0;
}

.lineaAyuda {
	color: #999999;
	font-style: italic;
}

.btnInfoEmpleado {
	background: url('/generalesDIyS/_img/iconoUsuario.png') no-repeat center center transparent;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	cursor: pointer;
	text-indent: -9999%;
	border: 0;
}

.btnEliminarPatente {
	background: url('/generalesDIyS/_img/iconoPapelera.png') no-repeat center center transparent;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	cursor: pointer;
	text-indent: -9999%;
	border: 0;
}

.dataForm label, .dataForm input[type="text"],
.dataForm input[type="password"], .dataForm input[type="email"],
.dataForm textarea, .dataForm select {
	font-family: sans-serif !important;
}

#frmModalAgregarPatente {
	border: none;
	padding: 0;
}

.jqxGrid_PrimerColumnaBoton div[id^="contenttablejqxGrid"] > div[role="row"] > div[role="gridcell"]:first-child > .jqx-grid-cell-middle-align {
	margin: 0 !important;
	height: 40px;
	width: 100%;
}

.clear {
	float: none;
	clear: both;
}

abbr[title] {
	border-bottom: 1px dotted blue;
	cursor: help;
}

hr.slim {
	height: 1px;
	background: #DCDCDC;
	border: 0;
	box-shadow: 0px 2px 10px 0px #DCDCDC;
}

.columna {
	float: left;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
}

.columna.separador-izq:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 1px;
	background-color: #ABABAB;
	left: -1px;
	top: 0;
}

.columna.separador-izq-slim:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 0px;
	left: -1px;
	top: 0;
	border: 1px solid #F5F5F5;
	box-shadow: 0px 0px 10px 0px #F5F5F5;
}

.columna.separador-der:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 1px;
	background-color: #ABABAB;
	right: 1px;
	top: 0;
}

.columna.separador-der-slim:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 0px;
	right: 1px;
	top: 0;
	border: 1px solid #F5F5F5;
	box-shadow: 0px 0px 10px 0px #F5F5F5;
}

.columna.ancho-25 {
	width: 25%;
}

.columna.ancho-30 {
	width: 30%;
}

.columna.ancho-40 {
	width: 40%;
}

.columna.ancho-50 {
	width: 50%;
}

.columna.ancho-60 {
	width: 60%;
}

.columna.ancho-70 {
	width: 70%;
}

.columna > input, .columna > select {
	width: 100% !important;
	box-sizing: border-box;
	padding: 13px 10px !important;
	margin-top: 0 !important;
}

/*.columna > input, .columna > select {
	width: 100% !important;
	box-sizing: border-box;
	margin-top: 0 !important;
	padding: 0 0 0 10px !important;
	height: 28px !important;
	line-height: 25px !important;
}*/

div[id^="dropdownlistContentjqxComboBox_"] {
	padding-left: 10px !important;
}

#detalleDatosPatentes {
	padding: 15px;
}

#jqxWindow_ModalAgregarPatente {
	position: fixed;
}

#windowHeader h3 {
	margin: 0;
}

#windowContent {
	position: relative;
}

hr + form > .columna {
	padding-top: 0;
	padding-bottom: 0;
}

form > .columna:first-child { }

hr + form > .columna > *:last-child {
	margin-bottom: 0;
}

.label_multilinea {
	font-weight: normal !important;
	font-size: 13px !important;
	padding-right: 0 !important;
}

.label_multilinea b {
	font-weight: bold !important;
}

.ayudaCargando {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.ui-datepicker-trigger {
	display: none;
}

.datepicker {
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	border: 0;
}

#ui-datepicker-div {
	z-index: 1100 !important;
}

#ui-datepicker-div table {
	background: inherit !important;
}

#ui-datepicker-div table th {
	color: inherit !important;
	background-color: inherit !important;
}

#ui-datepicker-div td[data-handler="selectDay"] {
	text-align: center !important;
}

#botonesEGEL {
	margin-top: 7px;
}

#botonesEGEL .btn {
	padding: 5px 15px;
	font-size: 20px;
	cursor: pointer;
	border: 1px solid #B1B1B1;
	border-radius: 3px;
	height: 40px;
	vertical-align: top;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

#botonesEGEL .btn:hover {
	opacity: 0.8;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

#ListaProgramasEducativosEmpleado > ul {
	color: #000000;
	text-shadow: none;
	padding-left: 15px;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: bold;
}

.info-fechaLimite {
	float: left;
	height: 55px;
	padding-top: 18px;
	box-sizing: border-box;
	padding-left: 17px;
	color: #004EFF;
}

.info-fechaLimite img {
	vertical-align: -5px;
	display: inline;
}

#frmDetalleEvaluacion .columna.ancho-25 {
	min-height: 110px;
}

div[id^="jqxDropDownList"] {
	margin-top: 5px;
}

#dropdownlistContentjqxDropDownList_innovacion, #dropdownlistContentjqxDropDownList_tics {
	left: 6px !important;
}

#detalleDatosProyecto, #detalleDatosPatentes, #detalleEvaluacion {
	padding: 10px;
}

#jqxButtonGroup_SNI {
	margin-top: 5px;
}

/*.jqxNumberInput_asistencias[data-value=""] input {
	color: #FFFFFF;
}*/

.jqxNumberInput_asistencias[data-value=""] input:focus, .jqxNumberInput_asistencias[data-value=""] input:active {
	color: #000000;
}

.jqxNumberInput_asistencias {
	border-top: 0 !important;
}

#contenedorDatos {
	visibility: hidden;
	display: none;
	opacity: 0;
}

.dataForm input[type="number"] {
	border: 1px solid #CCCCCC;
	color: #000000;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 5px !important;
	outline: 0 none;
	padding: 0 0 0 10px !important;
	width: 100px !important;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font: normal 14px/14px sans-serif;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	height: 26px;
	text-align: center;
	font-size: 16px;
}

#jqxButtonGroup_SNI div:not(:last-child) {
	cursor: pointer;
}

/* Corrección: Texto de row seleccionado en negritas para Grid docentes */
.jqxGrid_PanelDetalles .jqx-grid-cell-selected {
	font-weight: bold !important;
}

/* Corrección: Agregar borde inferior a la última fila de un grid */
div[id^="contenttablejqxGrid"]:not(#contenttablejqxGrid_DetallePatentes) > div[role="row"]:last-child {
	border-bottom: 1px solid #A4BED4;
}

/* Corrección: Alto de línea para headers de doble línea en grid */
.jxGrid_headerDoble {
	line-height: 11px;
	padding-top: 1px;
}

#frmModalAgregarPatente textarea {
	width: 568px;
	height: 50px;
	margin-bottom: 0;
}